.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 100px;
    background: url("/images/logo.png") no-repeat 45%;
    background-size: cover;
    z-index: 2;
    margin-right: 20px;
    vertical-align: middle;
}

header {
    width: 100%;
    height: 100px;
    position: sticky;
    background-color: blueviolet;
    z-index: 1000;
    top: 0;
}

.main-navigation {
    height: 100%;
    display: flex;
    flex: 1 1;
    padding: 0px 1rem;
    color: whitesmoke;
    font-weight: bold;
}

.navigation-list > .sign-in {
    margin-left: auto;
    margin-right: 1rem;
}

.navigation-links, .navigation-list {
    display: flex;
    flex: 1 0 auto;
    height: inherit;
    vertical-align: middle;
}

.navigation-list {
    display: none;
}

.sign-in {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation-links > *, .sign-in > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-item {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
    padding: 0 1vw;
}

.navigation-item > .nav-drop, .sign-in > * > .nav-drop {
    width: 230px;
    height: auto;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
}

.sign-in > * > .nav-drop {
    right: 7%;
}

.navigation-item:hover > .nav-drop {
    display: flex;
    flex-direction: column;
}

.nav-drop a {
    position: relative;
    color: whitesmoke;
    padding: 1rem 2rem;
    text-align: center;
    background-color: blueviolet;
    text-decoration: none;
    display: block;
    overflow: hidden;
}

.nav-drop a:hover {
    width: 110%;
}

.nav-drop a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: width 0.3s ease;
}

.nav-drop a:hover::before {
    width: 100%; /* Expand the border to full width on hover */
}

.navigation-item:after {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 50%;
    height: 3px;
    background: yellow;
    transition: width 0.2s ease, left 0.2s ease;
}

.navigation-item:hover::after {
    width: 100%;
    left: 0;
}

.search-box {
    position: relative;
    color: white;
    font-size: 1.2rem;
    display: inline-flex;
    align-self: center;
    margin-left: auto;
    margin-right: 1rem;
}

.search-box > input {
    max-width: 340px;
    width: auto;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 6px 12px;
    padding-right: 48px;
}

input[type="search"]:focus {
    background-color: #f3e5f5; /* Light pastel purple */
}

.search-box > i {
    cursor : pointer;
    color: black;
    position: absolute;
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.sign-in {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu > i {
    cursor: pointer;
}

i:hover {
    color: orange;
}

/* For WebKit browsers (Chrome, Safari) */
input[type="text"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

/* For Internet Explorer and Edge */
input[type="text"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

/* General style to ensure no clear button for search inputs too */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

@media only screen and (max-width: 1190px) {
    .header {
        min-width: 680px;
    }

    .navigation-links, .main-navigation > .sign-in {
        display: none;
    }

    .navigation-list, .navigation-list > .sign-in {
        display: flex;
    }

    .navigation-list > .sign-in > * > .nav-drop {
        display: none;
    }
}