* {
    margin: 0;
    padding: 0;
}

*::before, *, *::after {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}
    
a {
    cursor: pointer;
    text-decoration: none;
}

header i {
    font-size: 2rem;
    padding: 0 0.35rem;
}