* {
    margin: 0;
    padding: 0;
}

*::before, *, *::after {
    box-sizing: border-box;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
}

.item {
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 300px;
}

.item > img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transition: opacity ease 500ms;
}

.item-info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: none;
    overflow: hidden;
}

.item-info span {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.item-info button {
    color: white;
    font-weight: bold;
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

.item-info button:hover {
    padding: 5px 10px;
    border-radius: 0.5rem;
}

.item:hover > img {
    opacity: 0.75;
}

.item:hover > .item-info {
    display: flex;
    flex-direction: column;
}